.branditon-article {
  .branditon-article__prev,
  .branditon-article__next {
    color: $color--lightgray;
    a {
      height: 5rem;
    }
    span {
      transform: translateY(100%);
      white-space: nowrap;
    }
  }
  .branditon-article__cat {
    color: $color--lightgray;
  }
}
