.share-article {
  color: $color--lightgray;
  .share-article__plus {
    display: block;
    width: 1px;
    height: 20px;
    background-color: $color--lightgray;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 1px;
      top: 0;
      bottom: 0;
      left: -10px;
      background-color: $color--lightgray;
    }
  }
}
