.contact-form {
  background-color: #f7f6f4;
  input,
  textarea {
    width: 100%;
    border-bottom: solid 1px $color--lightgray;
    background-color: transparent;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
  }
  ::placeholder {
    color: $color--lightgray;
    font-family: 'Futura Heavy';
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }
  button {
    display: inline-block;
    font-size: 1.2rem;
    border-bottom: solid 1px $color--lightgray;
    color: $color--lightgray;
    font-family: 'Calibre';
  }
  .contact-form__subject {
    color: $color--lightgray;
    label {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      & > span {
        order: 1;
      }
      .radio {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 1px $color--lightgray;
        order: 0;
      }
    }
  }
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}
