.homepage-about {
  h2 {
    color: $color--pink;
    font-family: 'Futura Heavy Italic';
  }
  .homepage-about__front-img {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: solid 5px #fff;
    }
  }
}
