.homepage-recent-posts {
  .homepage-recent-posts__wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .homepage-recent-posts__article {
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
      .homepage-recent-posts__article-img {
        img {
          transform: scale(1.1);
        }
      }
    }
    .homepage-recent-posts__article-img {
      position: relative;
      &:after {
        content: '';
        display: block;
        padding-top: 150%;
      }
      img {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
      }
    }
    .homepage-recent-posts__article-deco {
      position: relative;
      width: 1px;
      height: 20px;
      background-color: $color--lightgray;
      display: block;
      margin: auto;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        margin: auto;
        width: 20px;
        height: 1px;
        background-color: $color--lightgray;
      }
    }
  }
  .slick-slide {
    &:nth-child(odd) {
      .homepage-recent-posts__article {
        .homepage-recent-posts__article-img {
          &:after {
            padding-top: 120%;
          }
        }
      }
    }
  }
  .homepage-recent-posts__dots {
    border-top: solid 1px $color--lightgray;
    color: $color--lightgray;
    .homepage-recent-posts__all {
      bottom: 0;
      right: 0;
      margin: auto;
      transform: translateX(calc(100% + 15px));
    }
    button {
      padding-top: 1rem;
      &.active {
        font-family: 'Calibre Italic';
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 30px;
          max-width: 100%;
          height: 4px;
          background-color: $color--lightgray;
        }
      }
    }
  }
}
