.featured-press {
  .featured-press__img {
    &:after {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  .featured-press__content {
    border: solid 1px $color--lightgray;
    @media (min-width: 768px) {
      border-left: none;
    }
  }
  .featured-press__cat {
    color: $color--lightgray;
  }
}
