.featured-press {
  &:hover {
    .featured-press__img {
      img {
        transform: scale(1.1);
      }
    }
  }
  .featured-press__img {
    img {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }
    &:after {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  .featured-press__content {
    border: solid 1px $color--lightgray;
    @media (min-width: 768px) {
      border-left: none;
    }
  }
  .featured-press__cat {
    color: $color--lightgray;
  }
}
