.featured-press {
  .featured-press__img {
    &:after {
      content: '';
      display: block;
      padding-top: 50%;
    }
  }
  .featured-press__content {
    border-top: solid 1px $color--lightgray;
    border-right: solid 1px $color--lightgray;
    border-bottom: solid 1px $color--lightgray;
  }
}
