.press-preview {
  &:hover {
    .press-preview__img {
      img {
        transform: scale(1.1);
      }
    }
  }
  .press-preview__img {
    img {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }
    &:after  {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .press-preview__content {
    .press-preview__cat {
      color: $color--lightgray;
    }
  }
}
