.press-preview {
  .press-preview__img {
    &:after  {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .press-preview__content {
    .press-preview__cat {
      color: $color--lightgray;
    }
  }
}
