.branditon-footer {
  .branditon-footer__social {
    background-color: $color--pink;
    color: $color--lightgray;
  }
  .branditon-footer__newsletter {
    background-color: $color--lightgray;
    color: $color--pink;
  }
}
