.branditon-footer {
  .branditon-footer__social {
    background-color: $color--pink;
    color: $color--lightgray;
    img {
      width: 39px;
      height: auto;
      transtion: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .branditon-footer__newsletter {
    background-color: $color--lightgray;
    color: $color--pink;
    .branditon-footer__newsletter-input {
      input {
        width: 100%;
        border: solid 1px $color--pink;
        background: transparent;
      }
      ::placeholder {
        color: $color--pink;
        letter-spacing: 0.2em;
      }
      img {
        width: 25px;
        height: auto;
        margin: auto;
        margin-right: 10px;
        @media (min-width: 768px) {
          width: 50px;
        }
      }
    }
    .branditon-footer__newsletter-message {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      span {
        display: block;
        padding: 0.5rem;
        border: solid 1px $color--pink;
        width: 100%;
      }
    }
  }
}
