.branditon-footer {
  .branditon-footer__social {
    background-color: $color--pink;
    color: $color--lightgray;
    img {
      width: 50px;
      height: auto;
    }
  }
  .branditon-footer__newsletter {
    background-color: $color--lightgray;
    color: $color--pink;
  }
}
