.branditon-header {
  border-bottom: solid 1px $color--lightgray;
  .branditon-header__logo {
    img {
      width: 180px;
      max-width: 100%;
    }
  }
  .branditon-header__social {
    a {
      &:first-child {
        img {
          height: 15px;
        }
      }
      &:nth-child(2) {
        img {
          height: 18px;
        }
      }
    }
  }
  nav {
    position: fixed;
    background-color: #fff;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 1200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    @media (max-width: 767px) {
      &.main-navigation--open {
        transform: translateX(0);
      }
    }
    @media (min-width: 768px) {
      position: relative;
      top: auto;
      left: auto;
      min-height: auto;
      z-index: 0;
      transform: translateX(0);
    }
    span {
      width: 180px;
      max-width: 100%;
      margin: auto;
      height: 1rem;
      text-align: center;
      pointer-events: none;
      letter-spacing: 0.2rem;
    }
    a {
      color: $color--pink;
      font-family: 'Futura Heavy Italic';
      opacity: 0;
      transition: all 0.3s ease-in-out;
      letter-spacing: 0.2em;
      &:hover,
      &.active {
        opacity: 0.42;
      }
      &.active + span {
        font-family: 'Calibre Italic';
      }
    }
  }
}
