.branditon-header {
  border-bottom: solid 1px $color--lightgray;
  .branditon-header__logo {
    img {
      width: 180px;
      max-width: 100%;
    }
  }
  .branditon-header__social {
    a {
      &:first-child {
        img {
          height: 15px;
        }
      }
      &:nth-child(2) {
        img {
          height: 18px;
        }
      }
    }
  }
  nav {
    span {
      width: 180px;
      max-width: 100%;
      margin: auto;
      height: 1rem;
      text-align: center;
      pointer-events: none;
      letter-spacing: 0.2rem;
    }
    a {
      color: $color--pink;
      font-family: 'Futura Heavy Italic';
      opacity: 0;
      transition: all 0.3s ease-in-out;
      &:hover,
      &.active {
        opacity: 1;
      }
      &.active + span {
        font-family: 'Calibre Italic';
      }
    }
  }
}
